<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>绑定手机</title>
	<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width,initial-scale=1.0"/>
	<!-- 禁止将数字变为电话号码 -->
	<meta name="format-detection" content="telephone=no" />
	<!-- iphone设备中的safari私有meta标签,允许全屏模式浏览，隐藏浏览器导航栏 -->
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<!-- iphone的私有标签,它指定的iphone中safari顶端的状态条的样式 -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<link rel="stylesheet" href="css/public.css">
	<link rel="stylesheet" href="css/message.css">
</head>
<body>
    <section class="header-top">
    	<div class="fanhui"><a href="personal.jsp" ><img src="img/back.png" alt=""></a><a href="personal.jsp" class="tiaozhuan">返回</a></div>
    	<div class="shouye"><p>绑定手机</p></div>
    </section>
  	<div class="top">
    <input type="text" placeholder="输入完整手机号"> <button>发送验证</button>
    <input type="text" placeholder="验证码">
    </div>
    <div class="bottom"><p onclick=window.location.href="changepwd.html" class="submit">提交</p></div>
</body>
</html>