<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>购物车</title>
	<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width,initial-scale=1.0"/>
	<!-- 禁止将数字变为电话号码 -->
	<meta name="format-detection" content="telephone=no" />
	<!-- iphone设备中的safari私有meta标签,允许全屏模式浏览，隐藏浏览器导航栏 -->
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<!-- iphone的私有标签,它指定的iphone中safari顶端的状态条的样式 -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<script type="text/javascript" src="js/jquery.1.10.2.js"></script>
	<link rel="stylesheet" type="text/css" href="css/scrollbar.css">
	<link rel="stylesheet" href="css/buy.css">
	<link rel="stylesheet" href="css/public.css">
	<link rel="stylesheet" href="css/index.css">
</head>
<body>
 <section class="header-top" id="header-top">
    	<div class="fanhui"><a href="index.jsp" ><img src="img/back.png" alt=""></a><a href="index.jsp" class="tiaozhuan">返回</a></div>
    	<div class="shouye"><p>购物车</p></div>
 </section>
 <div id="wrapper">
   <div id="scroller">
<div class="container" id="container">
    <p class="good-reduce-warning"></p>
    <div id="main">
        
    </div>
	<!-- <div id="pullUp">
			<span class="pullUpIcon"></span><span class="pullUpLabel">加载更多...</span>
		</div> -->
    <p class="pay-warning"></p>

</div>

<section class="clear"></section>
<div class="up-to-pay">
	<ul>
			<li>总计&nbsp;:&nbsp;<i>¥</i><b>0</b></li>
			<li id="pay">付款</li>
		</ul>
</div>
<section class="clear-2"></section>
</div>
</div>
	<div class="menu" >
            <a class="active"  href="index.jsp">
                <i class="icon-menu icon-menu1"><img src="img/footer-1.png" alt=""></i>
            </a>
            <a>
                <i class="icon-menu icon-menu2"><img src="img/footer-2.png" alt=""></i>
            </a>
            <a  href="consignment.html">
                <i class="icon-menu icon-menu3"><img src="img/footer-3.png" alt=""></i>
            </a>
            <a  href="shopping.html">
                <i class="icon-menu icon-menu4"><img src="img/footer-c4.png" alt=""></i>
            </a>
            <a  href="personal.jsp">
                <i class="icon-menu icon-menu5"><img src="img/footer-5.png" alt=""></i>
            </a>
    </div>
    <script type="text/javascript" src="js/analyPara.js"></script>
    <script type="text/javascript" src="js/shopping.js"></script>
    <script type="text/javascript" src="js/iscroll.js"></script>
   <!--  <script type="text/javascript">
       $("#id").click(function(){
         window.location.href="url"
         })

    </script> -->
</body>
</html>