@charset "utf-8";

.baby-img{
	width:13rem;
	height:auto;
	margin:3rem auto 0;}
.baby-img figcaption{margin-top:0.5rem;}
.baby-img figcaption p{
	width:100%;
	height:2.4rem;
	line-height:2.4rem;
	text-align:center;}
.baby-img figcaption p:nth-child(1){
	font-size:1.2rem;
	color:#000;}
.baby-img figcaption p:nth-child(2){
	color:red;
	font-size:1.4rem;}
.baby-img figcaption p:nth-child(2) span:nth-child(1){float:left;width:6rem;}

.baby-img img{
	width:100%;
	height:100%;
	display:block;}
.baby-intro{
	width:32rem;
	height:auto;
	margin:3rem auto 0;
	font-size:1.3rem;}
.baby-intro-p{
	width:100%;
	height:3rem;}


.p-1 div:nth-child(1){
	float:left;
	width:8rem;
	text-align: right;}
.p-1 div:nth-child(2){
	text-indent:1.5rem;
	float:left;}

.p-2 div:nth-child(1){
	float:left;
	width:8rem;
	text-align: right;}
.p-2 div:nth-child(2){
	text-indent:1.5rem;
	float:left;}

.p-3 div:nth-child(1){
	float:left;
	width:8rem;
	text-align: right;}
.p-3 div:nth-child(2){
	width:8rem;
	text-indent:1.5rem;
	float:left;}
.p-3 div:nth-child(3){
	float:left;
	width:8rem;
	text-align: right;}
.p-3 div:nth-child(4){text-indent:1.5rem;}

.p-4 div:nth-child(1){
	float:left;
	width:8rem;
	text-align: right;}
.p-4 div:nth-child(2){
	width:8rem;
	text-indent:1.5rem;
	float:left;}
.p-4 div:nth-child(3){
	float:left;
	width:5rem;
	text-align:right;}
.p-4 div:nth-child(4){
	float:left;
	width:2rem;}
.p-4 div:nth-child(5){
	float:left;
	width:5rem;
	text-align: right;}

.p-5{
	min-height:3rem;
	height:auto;
	overflow:hidden;}
.p-5 div:nth-child(1){
	float:left;
	width:8rem;
	text-align: right;}
.p-5 div:nth-child(2){
	width:21rem;
	padding-left:8rem;
	padding-right:1rem;
	height:auto;
	margin-left:1.5rem}

.p-6 div:nth-child(1){
	width:8rem;
	height:3rem;
	text-align: right;}
.p-6 div:nth-child(2){
	width:27rem;
	height:12rem;
	padding-left:2.5rem;
	padding-right:1rem;}
.p-6 div:nth-child(2) img{
	width:100%;
	height:100%;
	display:block;}
.p-6{
	min-height:3rem;
	height:auto;
	overflow:hidden;}


.operate{
	margin:1rem auto;
	text-align: center;}
.operate input{
	font-size:1.3rem;
	height:3rem;
	line-height:3rem;
	text-align:center;
	color:#fff;
	border-radius:0.5rem;}
.operate div{
	text-align: center;}
.operate .button-right {
	background:#FF9933;
	width: 46%;
	margin:.5rem 0  .5rem .5rem ;}
.operate .button-left {
	background:#FF9933;
	width: 46%;
	margin:.5rem  .5rem .5rem 0  ;}
.operate .button{
	width:96%;
	background:#0099FF;
	margin: 1rem auto;}



/*付款页面*/
.header{
	width:32rem;
	margin:1rem auto;
	height:auto;
	min-height:6rem;}
.home{
	border-bottom:0.1rem dashed #ccc;}
.ui-left{
	width:4.5rem;
	float:left;}
.ui-left img{
	width:4.5rem;
	height:4.5rem;
	margin:1rem 1rem 1rem 0;
	display:block;}
.mes-right{
	width:21rem;
	float:left;
	font-size:1.3rem;
	margin:0 1rem;}
.mes-right-top{
	width:21rem;
	line-height:2rem;
	height:2rem;}

.mes-right-top dd{
	width:5.5rem;
	float:left;}
.mes-right-top dt{
	width:15rem;
	float:left;}

.mes-right-bottom p{
	height:2rem;
	line-height:2rem;}

.jump-arrow{
	width:3rem;
	height:6rem;
	padding:0 1.5rem  0 0;
	float:left;
	background:url(../img/pay-2.png) no-repeat center center;
	background-size:2rem;}
.jump-arrow1{
	width:3rem;
	height:6rem;
	padding:0 1.5rem 0 0;
	float:left;
	background:url(../img/u129.png) no-repeat center center;
	background-size:2rem;}


.pay-for-baby{
	width:32rem;
	height:10rem;
	margin:2rem auto 0;
	border-top:0.1rem solid #CCC;
	border-bottom:0.1rem solid #ccc;}
.baby{
	width:8rem;
	height:8rem;
	float:left;
	margin:1rem;}
.baby img{
	width:8rem;
	height:8rem;
	display:block;}
.intro{
	width:15rem;
	float:left;
	padding:2.8rem 0;
	font-size: 1.3rem}
.intro p{
	height:2.2rem;
	line-height:2.2rem;
	font-size: 1.3rem}
.price{
	width:4rem;
	margin:0 1rem;
	padding:3.5rem 0;
	float:left;
	height:3rem;
	line-height:3rem;}
.price p{
	color:red;
	font-size:1.4rem;}

.lists{
	width:32rem;
	margin:2rem auto;}
.lists ul li{
	height:3rem;
	line-height:3rem;
	border-bottom:0.1rem solid #ccc;
	padding-right:1.2rem;}
.lists ul li:nth-child(1){
	font-size:1.4rem;
	text-align:right;}
.lists ul li b{color:red;}
.lists ul li:nth-child(2) span:nth-child(1){
	float:left;
	width:5rem;
	margin-left:1rem;
	font-size: 1.3rem}
.lists ul li:nth-child(2) span:nth-child(2){
	float:right;
	width:5rem;
	text-align:right;
	font-size:1.4rem;
	margin-right:1rem;}

.notes{
	width:32rem;
	margin:1rem auto;}
.notes-tit{
	height:2.2rem;
	line-height:2.2rem;
	text-indent:1rem;
	font-size: 1.3rem}
.notes textarea{
	resize:none;
	width:31.8rem;}

.up-to-pay{
	width:32rem;
	margin:0 auto;}
.up-to-pay ul{
	height:4rem;
	border-top:0.1rem solid #ccc;
	border-bottom:0.1rem solid #ccc;}
.up-to-pay ul li{
	background:#fff;
	width:50%;
	float:left;
	height:4rem;
	line-height:4rem;
	text-align:center;
	font-size:1.3rem;}
.up-to-pay ul li b{color:red;}
.up-to-pay ul li:nth-child(2){
	background:#E70C2D;
	color:#fff;font-size:1.3rem;}
.up-to-pay ul li .sr_button {
	position: absolute; 
	right:0;
	visibility: hidden;
	width: 16rem;
	height: 4rem;}


/*收货地址页面*/

.home1{
	border-bottom:0.1rem solid #ccc;
	padding-bottom:1rem;}
.input-add{
	width:90%;
	margin:0 auto;
	position: fixed;
	bottom:1rem;left:5%;}

.input-add input{
	font-size:1.3rem;
	height:3rem;
	line-height:3rem;
	color:#fff;
	text-align:center;
	background:#E70C2D;
	width:100%;
	margin:0 auto;
	border-radius:0.5rem;}

/*编辑收货地址*/
.mesgbox{
	width:32rem;
	margin:0 auto;
	height:auto}
.mesgbox textarea{
	border:0;
	width:31.8rem;
	color:#B5B5B5;
	min-height:4rem;
	line-height:3rem;
	resize:none;
	font-size:1.4rem;}
.mesgbox .write{
	text-indent: 1rem;
	border:none;
	height:4rem;
	width:31.8rem;
	line-height:4rem;
	color:#767676;
	font-size:1.4rem;}
input{
	border-bottom:0.1rem solid #DCDCDC !important;}
.foot-input{
	width:30rem;
	margin:1rem auto;
	left:5%;}
.foot-input input{
	width:100%;
	border-radius:0.8rem;
	height:3rem;
	line-height:3rem;
	background:#0099FF;
	color:#fff;font-size:1.3rem;
	border:0.1rem solid #797979;}
.foot-input2{
	width:30rem;
	margin:1rem auto;
	left:5%;}
.foot-input2 input{
	width:100%;
	border-radius:0.8rem;
	height:3rem;
	line-height:3rem;
	background:#FF9933;
	color:#fff;
	font-size:1.3rem;
	border:0.1rem solid #797979;}
.default {
	position: relative;
    padding:1rem;
    border-bottom:0.1rem solid #DCDCDC;
    height:4rem;
    line-height:2rem;
    color:#767676;
    font-size:1.4rem;}
.default span{
	font-size: 1rem;
	color:#767676;}
.switch{
	position:absolute;
	right:1rem;top: 1rem;}
.switch>input{border: none;}
#test{
	margin: 0;
	padding: 0;
	height: 0;}
#test select{
	position: relative;
	top: -3.5rem;
	left:6.5rem;
	height: 3rem;
	width:7.5rem;
  margin-right: 1rem;
}
/*新增收货地址*/
.message-box{
	width:32rem;
	height: auto;
	margin: 0 auto}
.message-box input{
	border: none;
	height:4rem;
	width:31.8rem;
	line-height:4rem;
	color:#767676;
	font-size:1.3rem;}
.foot-input1{
	margin: 4rem auto;
	width:30rem}
.message-box  textarea{
	width:31.8rem;
	font-size:1.3rem;
	height:8rem;
	resize: none;}
.foot-input1 input{
	width:30rem;
	border-radius:0.6rem;
	height:4rem;
	line-height:4rem;
	background:#0099FF;
	color:#fff;
	font-size:1.3rem;}
.agree{font-size: 1.2rem}

/*购物车*/
.edit{display: block;
    width: 3.5rem;
    position: absolute;
    right:.5rem;
    height: 2.5rem;
    padding: 0.75rem 0;
    line-height: 2.5rem;
    color: #fff;
    font-size: 1.3rem;
    z-index: 10;}       
.container{
	width:32rem;
	margin:0 auto;}
.main-item{
	height:10rem;
	clear:both;
	background:#fff;
	padding:1rem .5rem ;
	margin-bottom:.5rem;
	border-bottom:.1rem solid #ccc;
	border-top: .1rem solid #ccc;}

.select{
	background: #eee;
	border:.1rem solid #ccc;
	 border-radius:1rem;
	width:1.8rem;
	height:1.8rem;
	float:left;
	margin:4.5rem 0 ;
	display: inline;
	text-align: center;}
/*.select:hover{background:#E70C2D; }*/
section .user-img{
	width:10rem;
	float:left;}
.user-img img{
	width:8rem;
	height:8rem;
	margin:1rem 1rem .5rem;}
.user-intro{
	width:9rem;
	float:left;
	padding:1rem .5rem 1rem;}
.user-intro p{
	height:2.2rem;
	line-height:2.2rem;
	font-size:1.3rem}
.mark{
	color:red;
	font-size:1.4rem;}
.add-reduce{
	width:7rem;
	float:left;
	height:3rem;
	margin:7rem 0 0;
	border:0.1rem solid #ccc;}
.main-item .del{
	position: absolute;
    margin: 1rem 0 0 4rem;
    display: none;}
.reduce{
	width:1.9rem;
	height:3rem;
	float:left;
	border-right:0.1rem solid #ccc;}
.add{
	width:1.9rem;
	height:3rem;
	float:left;
	border-left:0.1rem solid #ccc;}
.sum{
	width:3rem;
	height:3rem;
	float:left;
	text-align: center;
	line-height:3rem;
	font-size:1.2rem}
.reduce img{
	width:1.9rem;
	height:3rem;
	display:block;}
.add img{
	width:1.9rem;
	height:3rem;
	display:block;}
.select .choose{
	position: relative;
	top: -5rem;
	left: 3rem;
	width: 6rem;
	height: 4rem;}
#txt{
	position:relative;
	top: -4.2rem;
	display: none}

/*寄售增加收获地址*/
.p-tit{
	width:100%;
	text-align:center;
	height:4rem;
	line-height:4rem;
	font-size:1.4rem;
	color:#666;}
.msg-sale input{
	border-bottom:0.1rem solid #ccc;
	width:31.8rem;
	height:3.5rem;
	line-height:3.5rem;
	text-indent:1rem;
	font-size:1.3rem;}
.msg-sale input{border: none;}	
.server{
	width:85%;
	margin:2.5rem auto;}
.server .terms{
	width:100%;
	height:6rem}
.server .terms p{
	width:100%;
	word-break:break-all;
	line-height:1.2rem;
    }
.server .terms p:nth-child(1){text-align: center;}
.server .terms p:nth-child(2){text-indent: 1.5rem;}
.server p{text-align: center;}
.server p span{
	font-size: 1rem;
	line-height: 2rem;
	display: inline-block;
    }
.agree{
	position:relative;
	line-height: 2rem;
	display: inline-block;}
.up{width:90%;
	margin:0 auto;}
.up input{
	margin-bottom:1rem;
	width:100%;
	background:#0099FF;
	color:#fff;
	height:3rem;
	line-height:3rem;
	text-align:center;
	border-radius:0.5rem;
	font-size:1.4rem;}
