@charset "utf-8";
body{margin: 0;padding: 0;}
.clear{clear: both;}
#return{width: 100%;
	    position: fixed;
	    top: 0;
	    padding-top: 0.5rem;
        height: 5rem;
        background-color: #333;}
#return h2{
           font-weight: normal;
	       text-align: center;
           color: #fff;
           font-size: 1.8rem;
           line-height: 2rem;
           }
#return span{font-weight: normal;
	       font-size: 1.6rem;
           display: inline;
           color: #eee;
           line-height: 3rem;}
#return img{height:3.0rem;
            width: 3.0rem;
            float: left;}

.top {max-width: 64rem;
        margin:0 auto;
        padding: 1rem;
        padding-top: 7rem;}
.top p{font-size: 1.4rem;
       color: #333;
       line-height: 3rem;}
.top input{
           width:74%;
           height:2.5rem;
           margin:1rem 0  0.3rem 0;
           font-size: 1.4rem;
           text-indent: .5rem;
}
.top .button{ font-size: 1.4rem;
             color: #fff;
             background-color:#0099ff;
             width: 23%;
             height: 2.65rem;
             text-align: center;
         }
 .bottom{
         width: 80%;
         margin: 4rem auto;
         }
.submit{
          height:3rem;
          font-size: 1.4rem;
          color: #fff;
          background-color: #0099ff;
          width:100%;
          text-align: center;
          line-height: 3rem;
          border-radius: .4rem;
          bottom:1rem;
          left:10%;
          }



/*//修改密码*/
.top .changepwd{width: 23%;
                font-size: 1.5rem;
                text-align: right;
                float: left;
                margin:1rem .5rem .5rem 0;}

/*宝宝信息*/
.top select{
           width:75%;
           height:2.8rem;
           margin:1rem 0  0.3rem 0;
           font-size: 1.4rem;
           text-indent: .5rem;
           border:.2rem solid #eee; 
           border-radius: .4rem;}
.top select option{
           width:75%;
           border-style: none; 
/*           height:2.5rem;
           margin:1rem 0  0.3rem 0;
           font-size: 1.4rem;
           text-indent: .5rem;
           border-radius: .4rem;*/}
.bottom1 p{width: 60%;
          height:3rem;
          font-size: 1.4rem;
          color: #fff;
          background-color: #dc264d;
          margin: 0 auto;
          margin-top: 1rem;
          text-align: center;
          line-height: 3rem;
          border-radius: .4rem;}

.bb{background:url(img\u14.png) no-repeat 2% center;}
.warning{clear:both;color:red !important;font-size:1.2rem;text-align:center;line-height:2.2rem;height:2.2rem;}