@charset "utf-8";

/*首页*/

/*搜索框*/
.search {
    position: fixed;
    top: 4rem;
    padding: .5rem 0;
    z-index: 9998;
    background: #fff;
    height: 4rem;
    width: 32rem;
}

/*侧边导航*/
.search .column {
    float: left;
    width: 4rem;
    height: 4rem;
}

.search .icon {
    float: left;
    display: block;
    width: 4rem;
    height: 4rem;
}

.search .icon-dire {
    background: url(../img/menu.png) no-repeat .5rem .1rem;
    background-size: 2.5rem 2.5rem;
}

/*搜索框*/
.search-input {
    float: left;
    width: 85%;
}

.search-input p {
    position: absolute;
    left: 5rem;
    top: 0;
}

.icon-search {
    background: url(../img/search.png) no-repeat .2rem .8rem;
    background-size: 2.5rem 2.5rem;
}

.search-input input {
    float: left;
    border-radius: .5rem;
    border: .1rem solid #ddd;
    width: 100%;
    height: 2.8rem;
    padding-left: 3.5rem;
}

/*侧导航栏*/
.sidebar {
    position: absolute;
    top: 4rem;
    background: #333;
    z-index: 1;
    width: 8rem;
    height: 25rem;
    opacity: 0.7;
}

.sidebar ul li {
    height: 2.6rem;
    line-height: 2.6rem;
    text-align: center;
    font-size: 1.2rem;
    color: #fff;
    display: block;
}

/*轮播图*/
.carousel {
    margin-top: 4rem;
}

.carousel-inner .item img {
    width: 32rem;
    height: 12rem;
}

/*商品*/
.goods {
    background: #fff;
    border-top: 1px solid #ddd;
    margin-bottom: 5rem;
}

/*菜单切换*/
.scroll-menu {
    padding: 0 1rem;
    background: #fff;
    height: 3rem;
    line-height: 3rem;
    border-top: .1rem solid #ddd;
    border-bottom: .1rem solid #ddd;
}

.scroll-menu ul li {
    float: left;
    width: 6rem;
    height: 2.8rem;
    text-align: center;
    display: block;
    color: #4A5254;
    font-size: 1.4rem
}

.scroll-menu ul li:hover {
    border-bottom: 0.2rem solid #F0292B;
    color: #F0292B;
}

.scroll-menu .focus {
    border-bottom: 0.2rem solid #F0292B;
    color: #F0292B;
}

/*商品列表*/
.goods-list {
    background: #fff;
}

.goods-list {
    padding-top: .5rem;
    margin: 0 auto;
    height: auto;
}

.goods-list li {
    width: 47.6%;
    float: left;
    border: 0.1rem solid #D0D8D9;
    margin: .8%;
}

.goods-list li img {
    width: 96%;
    height: 17.4rem;
    margin: 3% 2% 0;
    display: block;
}

.goods-list li div {
    margin: 0 2% 3%;
    height: 6.5rem;
    background-color: #fdfeff;
}

.goods-list li div p {
    padding: 0 1rem;
    height: 2.2rem;
    line-height: 2.2rem;
    font-size: 1.3rem;
}

.goods-list li div p span:nth-child(1) {
    float: left;
    width: 8rem;
    color: #F0292B;
}

.goods-list li div p span:nth-child(2) {
    font-size: 1.2rem;
    float: right;
}

.goods-list li div p:nth-child(3) {
    width: 13.5rem;
    font-size: 1.2rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/*猜你喜欢*/
.you-like {
    border-radius: 0.5rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    margin: 2rem;
    border: 0.1rem solid #969696;
    height: 19rem;
}

.you-like p {
    height: 2.1rem;
    line-height: 2.1rem;
}

.you-like ul li {
    padding: 0.3rem 4.5rem;
    height: 2.5rem;
    line-height: 2rem;
}

.you-like ul li label {
    font-size: 1.1rem;
}

.you-like ul li label:nth-child(1) {
    float: left;
    width: 6rem;
    text-align: center;
}

.you-like ul li label:nth-child(2) {
    float: left;
    width: 11rem;
}

.you-like ul li label:nth-child(2) input {
    text-indent: 0.5rem;
    float: left;
    height: 1.6rem;
    margin: 0.1rem 0;
    width: 10rem;
}

.you-like ul li label:nth-child(2) select {
    text-indent: 0.2rem;
    float: left;
    height: 1.6rem;
    margin: 0.1rem 0;
    width: 10rem;
}

/*猜你喜欢表单*/
.like-up-button {
    margin: 0 auto;
    display: block;
    width: 80%;
    background: #0099FF;
    border-radius: 0.3rem;
    height: 2.2rem;
    line-height: 2.2rem;
    text-align: center;
    color: #fff;
    font-size: 1.3rem;
}
.icon-menu {
    display: block;
    width: 2rem;
    height: 2rem;
    margin: 1rem auto;
}

.icon-menu img {
    width: 2rem;
    height: 2rem
}

/*iscroll滚动控制*/

#header-top {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
}

/*设置轮播图片大小*/
.carousel-inner > .item > img {
    margin: 0 auto;
    max-width: 32rem;
    height: 11rem;
}

/*回到顶部*/
#back-top {
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
    position: absolute;
    z-index: 3;
    right: 0;
    bottom: 5rem;
    background: #E1E4E6;
}

#back-top p {
    text-align: center;
    padding: 0.5rem 0.6rem;
    color: #999;
    height: 3rem;
    cursor: pointer;
    font-size: 1.1rem;
}

/*宝物详情*/
.goods-detail-top {
    margin: 2rem 8rem 1rem;
}

.goods-detail-top img {
    width: 96%;
    height: 17.4rem;
    margin: 3% 2% 0;
    display: block;
}

.goods-detail-top div {
    margin: 0 auto;
    text-align: center;
    background-color: #fdfeff;
}

.goods-detail-top div p {
    height: 2.2rem;
    line-height: 2.2rem;
    font-size: 1.3rem;
}

.goods-detail-top div p span {

    color: #F0292B;
}
.goods-detail-content{
    margin: 0 auto;
    padding: 0 1rem;
    font-size: 1.3rem;
    line-height: 2.5rem;

}
.goods-detail-content p:nth-child(3),.goods-detail-content p:nth-child(5){
    width: 45%;
    float: left;
}
.goods-detail-content p:nth-child(4),.goods-detail-content p:nth-child(6){
    width: 55%;
    float: left;
}
.goods-detail-bottom {
    font-size: 1.3rem;
    margin: 0 auto;
    padding: 0 1rem;
    line-height: 2rem;

}

.goods-detail-bottom span {
    display: inline-block;
    float: right;
    width: 77%;

}

.goods-detail-bottom img {
    width: 30rem;
    height: 18rem;
}

.goods-detail-button {
    margin: 1rem 0  2rem 0;
    text-align: center;
}

.goods-detail-button button {
    font-size: 1.3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    color: #fff;
    border-radius: 0.5rem;
}

.goods-detail-button > div button {
    background: #FF9933;
    width: 46.8%;
    margin: .5rem .5rem .5rem 0;
}

.goods-detail-button .button {
    width: 96%;
    background: #0099FF;
    margin: 1rem auto;
}

/*付款页面*/
.box {
    width: 32rem;
    margin: 1rem auto;
    height: auto;
    min-height: 6rem;
}

.home {
    border-bottom: 0.1rem dashed #ccc;
}

.box-left {
    width: 4.5rem;
    float: left;
}

.box-left img {
    width: 4.5rem;
    height: 4.5rem;
    margin: .5rem 1rem 1rem 0;
    display: block;
}

.box-right {
    width: 21rem;
    float: left;
    font-size: 1.3rem;
    margin: 0 1rem;
}

.box-right-top {
    width: 21rem;
    line-height: 2rem;
    height: 2rem;
}

.box-right-top dd {
    width: 5.5rem;
    float: left;
}

.box-right-top dt {
    width: 15rem;
    float: left;
}

.box-right-bottom p {
    height: 2rem;
    line-height: 2rem;
}

.jump-arrow {
    width: 3rem;
    height: 6rem;
    padding: 0 1.5rem 0 0;
    float: left;
    background: url(../img/pay-2.png) no-repeat center center;
    background-size: 2rem;
}

.add-jump-arrow {
    width: 3rem;
    height: 6rem;
    padding: 0 1.5rem 0 0;
    float: left;
    background: url(../img/u129.png) no-repeat center center;
    background-size: 2rem;
}

.lists {
    width: 32rem;
    margin: 2rem auto;
}

.lists li {
    height: 3rem;
    line-height: 3rem;
    border-bottom: 0.1rem solid #ccc;
    padding-right: 1.2rem;
}

.lists li:nth-child(1) {
    font-size: 1.4rem;
    text-align: right;
    border-top: 0.1rem solid #ccc;
}

.lists li b {
    color: red;
}

.lists li:nth-child(2) span:nth-child(1) {
    float: left;
    width: 5rem;
    margin-left: 1rem;
    font-size: 1.3rem
}

.lists li:nth-child(2) span:nth-child(2) {
    float: right;
    width: 5rem;
    text-align: right;
    font-size: 1.4rem;
    margin-right: 1rem;
}

.notes {
    display: block;
    text-indent: 1rem;
    font-size: 1.3rem
}

.notes textarea {
    resize: none;
    width: 31.8rem;
}

.up-to-pay {
    position: fixed;
    bottom: 4rem;
    z-index: 9997;
    width: 32rem;
    margin: 0 auto;
}

.pay-fixed {
    position: fixed;
    bottom: 0 !important;
    z-index: 999;
}

.up-to-pay ul {
    height: 4rem;
    border-top: 0.1rem solid #ccc;
    border-bottom: 0.1rem solid #ccc;
}

.up-to-pay ul li {
    background: #fff;
    width: 50%;
    float: left;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    font-size: 1.3rem;
}

.up-to-pay ul li b {
    color: red;
}

.up-to-pay ul li:nth-child(2) {
    background: #E70C2D;
}

.up-to-pay ul li a {
    display: block;
}

.up-to-pay ul li button {
    color: #fff;
    font-size: 1.3rem;
    width: 16rem;
    height: 4rem;
}

/*收货地址页面*/

.add {
    border-bottom: 0.1rem solid #ccc;
    padding-bottom: 1rem;
}

/*选择收货地址按钮*/
.input-add {
    width: 32rem;
    margin: 0 auto;
    position: fixed;
    bottom: 4rem;
    text-align: center;

}

.input-add button {
    font-size: 1.3rem;
    height: 3rem;
    line-height: 3rem;
    color: #fff;
    text-align: center;
    background: #E70C2D;
    width: 90%;
    margin: 0 auto;
    border-radius: 0.5rem;
}

/*编辑收货地址*/
.edit-add-box {
    width: 32rem;
    margin: 0 auto;
    height: auto
}

.edit-add-box > p {
    padding-top: 1rem;
    text-indent: 1rem;
    font-size: 1.3rem;
}

.edit-add-box textarea {
    border: 0;
    width: 31.8rem;
    color: #B5B5B5;
    min-height: 4rem;
    line-height: 3rem;
    resize: none;
    font-size: 1.4rem;
}

.edit-add-box input {
    text-indent: 1rem;
    border: none;
    height: 4rem;
    width: 31.8rem;
    line-height: 4rem;
    color: #767676;
    font-size: 1.4rem;
    border-bottom: 0.1rem solid #DCDCDC !important;
}

/*删除/提交地址按钮*/
.edit-add-input {
    margin: 0 auto;
    padding-top: 4rem;
    text-align: center;
}

.edit-add-input input {
    margin: .5rem;
    width: 28rem;
    border-radius: 0.8rem;
    height: 3rem;
    line-height: 3rem;
    color: #fff;
    font-size: 1.3rem;
}

.edit-add-input label:nth-child(1) input {
    background: #0099FF;
}

.disabled {
    background: #d5d5d5;
}

.edit-add-input label:nth-child(2) input {
    background: #FF9933;
}

.default-add {
    position: relative;
    padding: 1rem;
    border-bottom: 0.1rem solid #DCDCDC;
    height: 4rem;
    line-height: 2rem;
    color: #767676;
    font-size: 1.4rem;
}

.default-add span {
    font-size: 1rem;
    color: #767676;
}

.edit-add-box .switch {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.switch > input {
    border: none;
}

.edit-add-box #test {
    margin: 0;
    padding: 0;
    height: 0;
}

.edit-add-box #test select {
    position: relative;
    top: -3.5rem;
    left: 6.5rem;
    height: 3rem;
    width: 7.5rem;
    margin-right: 1rem;
}

/*新增收货地址*/
.message-box {
    width: 32rem;
    height: auto;
    margin: 0 auto
}

.message-box input {
    border: none;
    height: 4rem;
    width: 31.8rem;
    line-height: 4rem;
    color: #767676;
    font-size: 1.3rem;
}

.foot-input1 {
    margin: 4rem auto;
    width: 30rem
}

.message-box textarea {
    width: 31.8rem;
    font-size: 1.3rem;
    height: 8rem;
    resize: none;
}

.foot-input1 input {
    width: 30rem;
    border-radius: 0.6rem;
    height: 4rem;
    line-height: 4rem;
    background: #0099FF;
    color: #fff;
    font-size: 1.3rem;
}

.agree {
    font-size: 1.2rem
}

/*购物车*/
.edit {
    display: block;
    width: 3.5rem;
    position: absolute;
    right: .5rem;
    height: 2.5rem;
    padding: 0.75rem 0;
    line-height: 2.5rem;
    color: #fff;
    font-size: 1.3rem;
    z-index: 10;
}

.container {
    max-width: 32rem;
    margin: 0 auto;
}

.main-item {
    position: relative;
    height: 10rem;
    clear: both;
    background: #fff;
    padding: 1rem .5rem;
    margin-bottom: .5rem;
    border-bottom: .1rem solid #ccc;
}

.select {
    background: #eee;
    border: .1rem solid #ccc;
    border-radius: 1rem;
    width: 1.8rem;
    height: 1.8rem;
    float: left;
    margin: 4.5rem 0;
    display: inline;
    text-align: center;
}

.goods-img {
    float: left;
    width: 8rem;
    height: 8rem;
    margin: 1rem 1rem .5rem;
}

.goods-info {
    float: left;
    padding: 1rem .5rem 1rem;
}

.goods-info p {
    height: 2.2rem;
    line-height: 2.2rem;
    font-size: 1.3rem
}

.goods-info p:nth-child(3) {
    color: red;
    font-size: 1.4rem;
}

.goods-del {
    position: absolute;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    background: url("../img/del.png") no-repeat 0 0;
    background-size: 2rem;
}

/*加减商品按钮*/
.shopping-cart {
    position: absolute;
    right: 2rem;
    width: 7rem;
    float: left;
    height: 3rem;
    margin: 7rem 0 0;
    border: 0.1rem solid #ccc;
}

.shopping-cart-reduce {
    width: 1.9rem;
    height: 3rem;
    float: left;
    border-right: 0.1rem solid #ccc;
    background: url("../img/reduce.png") no-repeat 0 0;
    background-size: 2rem;
}

.shopping-cart-add {
    width: 1.9rem;
    height: 3rem;
    float: left;
    border-left: 0.1rem solid #ccc;
    background: url("../img/shopping-1.png") no-repeat 0 0;
    background-size: 2rem;
}

.shopping-cart-sum {
    width: 3rem;
    height: 3rem;
    float: left;
    text-align: center;
    line-height: 3rem;
    font-size: 1.2rem
}

/*寄售增加收获地址*/
.terms {
    display: block;
    width: 90%;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
}

.terms textarea {
    width: 100%;
    text-align: center;
}

/*寄售*/
.consignment {
    width: 32rem;
    height: auto;
    margin: 0 auto
}

.consignment-title {
    width: 100%;
    height: 3rem;
    font-size: 1.7rem;
    text-align: center;
    margin-top: 2rem;
}

.consignment-top {
    width: 100%;
    height: 5rem;
    font-size: 1.7rem;
    text-align: center;
}

.consignment-content {
    width: 100%;
    height: 22rem;
}

.consignment-content ul {
    width: 80%;
    height: 16rem;
    margin: 0 auto;
}

.consignment-content ul li {
    width: 100%;
    height: 5rem;
}

.consignment-content ul li:last-child {
    margin-top: 1.8rem;
}

.consignment-content ul li span:nth-child(1) {
    color: rgb(255, 51, 153);
    font-size: 3rem;
    float: left;
    line-height: 3rem
}

.consignment-content ul li img {
    width: 3rem;
    height: 3rem;
    float: left;
    margin-left: 1.5rem
}

.consignment-content ul li span:last-child {
    font-size: 1.5rem;
    height: 4rem;
    display: block;
    margin-left: 8rem;
    width: 16.6rem
}

.blank {
    width: 100%;
    height: 100px;
}

.consignment-button {
    display: block;
    width: 90%;
    margin: 0 auto;
    height: 3rem;
}

.consignment-button button {
    width: 100%;
    height: 3rem;
    background-color: rgb(255, 51, 153);
    border-radius: 1.2rem;
    color: #fff;
    font-size: 1.6rem;
    border: none;
}

.consignment-bottom {
    padding-top: 1rem;
    margin: 0 auto;
    font-size: 1.4rem;
    text-align: center;
}

.release a {
    line-height: 4rem;
    text-decoration: underline !important;
    color: #000;
    font-size: 1.2rem
}

/*寄售成功*/
.publish-success-box {
    width: 32rem;
    height: 2rem;
    margin: 0 auto;
    padding-top: 5rem
}

.publish-success-box p:nth-child(1) {
    text-align: center;
    font-weight: bold;
    font-size: 1.8rem;
    padding-bottom: 2rem;
}

.publish-success-box p:nth-child(2), .publish-success-box p:nth-child(3) {
    margin: 0 auto;
    text-align: center;
    font-size: 1.4rem
}

.publish-success-box p:nth-child(4) {
    padding-top: 2rem;
    margin: 1rem auto;
    text-align: center;
    font-size: 1.4rem;
    color: #666666;
}

.go-search {
    width: 30rem;
    height: 4rem;
    margin: 5rem auto;
}

.go-search input[type="button"] {
    border-radius: 0.5rem;
    background-color: rgb(255, 51, 153);
    width: 30rem;
    height: 4rem;
    color: #fff;
    font-size: 1.6rem;
    font-weight: bold;
}

.share-bottom {
    padding-top: 4rem;
    display: block;
    text-align: center;
    margin: 0 auto;
}

.share-bottom button {
    border-radius: 0.6rem;
    background-color: rgb(255, 51, 153);
    width: 80%;
    height: 3.5rem;
    color: #fff;
    font-size: 1.6rem;
    font-weight: bold;
    border: none;
}

/*登陆页面*/

.warning {
    color: red;
    font-size: 1rem;
    text-indent: 0.5rem;
    height: 1.8rem;
    line-height: 1.8rem;
}

/*注册*/
.register-box {
    margin: 0 auto;
    padding: 4rem 1rem 1rem;
    max-width: 32rem;
    text-align: center;
}

.register-box label {
    margin: 0 auto;
    display: block;
    height: 4rem;
    padding: 0 2rem;
    text-align: right;
    font-size: 1.4rem;
}

.register-box input {
    height: 2.5rem;
    width: 70%;
}

/*修改密码*/
.change-pwd {
    margin: 0 auto;
    padding: 4rem 1rem 1rem;
    max-width: 32rem;
    text-align: center;
}

.change-pwd label {
    margin: 0 auto;
    display: block;
    height: 4rem;
    padding: 0 2rem;
    text-align: right;
    font-size: 1.4rem;
}

.change-pwd input {
    height: 2.5rem;
    width: 75%;
}

/*登陆*/
.login-box {
    margin: 0 auto;
    padding: 4rem 1rem 1rem;
    max-width: 32rem;
    text-align: center;
}

.login-box label {
    margin: 0 auto;
    display: block;
    height: 4rem;
    padding: 0 2rem;
    text-align: right;
    font-size: 1.4rem;
}

.login-box input {
    height: 2.5rem;
    width: 75%;
}

.login-box button {
    display: block;
    width: 80%;
    height: 3rem;
    font-size: 1.4rem;
    color: #fff;
    background-color: #0099ff;
    margin: 2rem auto;
    text-align: center;
    line-height: 3rem;
    cursor: pointer;
    border-radius: .4rem;
}

.login-right {
    height: 3rem;
    float: right;
    margin: 1rem 2rem;
    font-size: 1.3rem
}

.login-bottom {
    display: block;
    width: 7rem;
    height: 2.5rem;
    border: 1px solid #0099ff;
    border-radius: 2px;
    margin: 3rem auto;
    color: #0099ff;
    line-height: 2.5rem;
    text-align: center;
    font-size: 1.3rem;
    cursor: pointer;
}

/*找回密码邮箱验证*/

.get-back-pwd {
    max-width: 32rem;
    margin: 0 auto;
    padding: 4rem 2rem;
}

.get-back-pwd p {
    font-size: 1.4rem;
    color: #333;
    line-height: 3rem;
}

.get-back-pwd input {
    width: 74%;
    height: 2.5rem;
    margin: 1rem 0 0.3rem 0;
    font-size: 1.4rem;
    text-indent: .5rem;
}

.button-right {
    font-size: 1.4rem;
    color: #fff;
    background-color: #0099ff;
    width: 23%;
    height: 2.65rem;
    text-align: center;
}

.button-bottom {
    margin: 0 auto;
    width: 80%;
    display:block;
    text-align: center;
}

/*绑定手机*/

.bind-top {
    max-width: 32rem;
    margin: 0 auto;
    padding: 7rem 1rem;
    text-align: center;
}

.bind-top p {

    font-size: 1.4rem;
    color: #333;
    line-height: 3rem;
}

.bind-top input {
    float: left;
    width: 74%;
    height: 2.5rem;
    margin: 1rem 0 0.3rem 0;
    font-size: 1.4rem;
    text-indent: .5rem;
}

.bind-top .bind-right-button {
    margin-top: 1rem;
    font-size: 1.4rem;
    color: #fff;
    background-color: #0099ff;
    width: 23%;
    height: 2.65rem;
    text-align: center;
}

.submit {
    margin:0 auto;
    height: 3rem;
    font-size: 1.4rem;
    background-color: #0099ff;
    color: #fff;
    width: 100%;
    text-align: center;
    line-height: 3rem;
    border-radius: .4rem;
}

/*订单*/
.order {

    margin: 0 auto;
    padding: 1rem;
}

.order-box {

    position: relative;
    border-top: .1rem solid #eee;
}

.unpaid-txt {
    padding-top: .5rem;
    background: #fff;
    font-size: 1.3rem;
    line-height: 1.5rem;
    height: 1.5rem;
    color: #fc1d4c;
    text-align: right;
}

.order-box img {
    width: 7.6rem;
    height: 7.6rem;
    display: inline;
    position: absolute;
    top: .8rem;
    left: .8rem;
}

.order-box-right {
    font-size: 1.2rem;
    color: #333;
    line-height: 2rem;
    height: 8.5rem;
    padding: .5rem 0 .5rem 9rem;
    position: relative;
}

.order-box-left {
    font-size: 1.4rem;
    line-height: 2.5rem;
    text-align: right;
    padding-right: 1rem;
    color: red;
}
.order-box-left span{
    padding-right:1rem;
    color:#000;
}
.order .order-bottom {
    clear: both;
    padding: 1rem;
    margin-bottom: 1rem;
    border-top: .1rem solid #eee;
    border-bottom: .1rem solid #eee;
}

.order .order-bottom p {
    margin: 0 auto;
    text-align: center;
    font-size: 1.4rem;
    color: #333;
}

.order .order-bottom span {
    color: red;
}

.order button {
    width: 7rem;
    height: 3rem;
    float: right;
    background: #fc1d4c;
    border-radius: .8rem;
    font-size: 1.4rem;
    color: #fff;
}

/*个人中心*/
.baby-photo {
    margin: 0 auto;
    max-width: 32rem;
}

.baby-photo .line {
    padding: 0 1rem;
}

.baby-photo figure {
    margin: 0 auto;
    padding-top: 1.5rem;
    max-width: 6.8rem;
}

.baby-photo figure img {
    width: 6.8rem;
    height: 6.8rem;
    text-align: center;
}

.baby-photo figcaption {
    font-size: 1.2rem;
    color: #999;
    text-align: center;
}

.personal-center {
    max-width: 32rem;
    margin: 0 auto;
    padding: 1rem;
}

.order-top {
    font-size: 1.4rem;
    color: #000;
    padding: 1rem 0;
    border-top: .1rem solid #ccc;
}

.order-bottom {
    font-size: 1.4rem;
    color: #000;
    width: 100%;
    text-indent: 1rem;
    line-height: 2.0rem;
    padding: .2rem 0;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.personal-center ul {
    text-align: center;
    height: 2rem;
    padding: .2rem 0;
    border-top: 0.1rem solid #ccc;
    border-bottom: 0.1rem solid #ccc;
}

.personal-center ul li {
    float: left;
    width: 25%;
}

.personal-center ul li a {
    font-size: 1.3rem;
    color: #666;
    line-height: 2rem;
    display: block;
    border-left: 1px solid #ccc
}

.personal-center ul .link {
    border: none;
}

.personal-center-control {
    margin-top: .5rem;
}

.personal-center-control a {
    border-bottom: 0.1rem solid #ccc;
    display: block;
}

.personal-center-control a p {
    font-size: 1.4rem;
    line-height: 4.0rem;
    color: #666
}

.personal-center-button {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 80%;
}

.personal-center-button button {

    width: 100%;
    height: 3rem;
    font-size: 1.4rem;
    color: #fff;
    background-color: #fc5477;
    line-height: 3rem;
    border-radius: 0.6rem;
}

/*转让宝物*/
.transfer-box p {
    height: 3rem;
    line-height: 3rem;
    margin-top: 1rem;
}

.transfer-box p span {
    width: 18rem;
    padding: 0 1rem;
    float: left;
    color: #FF3399;
    font-size: 1.25rem;
}

.transfer-box p a {
    width: 8rem;
    margin: 0 1.5rem;
    float: right;
    border-radius: 0.5rem;
    height: 3rem;
    display: block;
    color: #fff;
    line-height: 3rem;
    text-align: center;
    font-size: 1.3rem;
    background: #999999;
}

.transfer-form {
    position: relative;
    border-top: 0.1rem solid #787878;
    margin-top: 1.2rem;

}

/*宝物标题*/
.title {
    display: block;
    height: 3.2rem;
    line-height: 3.2rem;
    padding: 0 1rem;
    border-bottom: 0.1rem solid #BEBEBE;
}

.title > input {
    font-size: 1.3rem;
    height: 3.1rem;
    width: 30rem;
    line-height: 3.2rem;
    border: none;
}

.transfer-info li {
    float: left;
    width: 50%;
    text-align: left;
    height: 4rem;
    line-height: 4rem;
    font-size: 1.4rem;
}

.transfer-info li span {
    display: inline-block;
    text-indent: 1rem;
}

.transfer-info li select, .transfer-form ul li input {
    width: 7.6rem;
    height: 2.6rem;

}

.transfer-form-bottom label {
    width: 7rem;
    float: left;
    font-size: 1.25rem;
    padding-left: 0.3rem;
}

.transfer-form-bottom textarea {
    width: 23.3rem;
    float: left;
    resize: none;
    height: 10rem
}

.transfer-form-bottom div {
    height: 18rem;
}

.transfer-form-bottom div img {
    width: 6rem;
    height: 6rem;
    display: block;
    float: left;
    margin-top: 1rem;
    margin-right: 1rem;
}

.transfer-form-button {
    display: block;
    clear: both;
    width: 100%;
    text-align: center;
}

.transfer-form-button button {
    background: #FF3399;
    width: 90%;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    font-size: 1.3rem;
    color: #fff;
    border-radius: 0.8rem;
}

.st {
    display: block;
    width: 3rem;
    height: 2.3rem;
    cursor: pointer;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 9999;
    background: #ccc;
    background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    -moz-border-radius: 50rem;
    -webkit-border-radius: 50rem;
    border-radius: 50rem;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}

.slideThree input[type=checkbox] {
    visibility: hidden;
}

.slideThree input[type=checkbox]:checked + label {
    left: 3.5rem;
}

/*宝宝信息*/

.person-msg li {
    height: 3.6rem;
    line-height: 3.6rem;
    margin-top: 1rem;
}

.person-msg label {
    width: 7rem;
    padding: 0 0.5rem 0 1rem;
    float: left;
    height: 2.4rem;
    line-height: 2.4rem;
    margin-top: 1rem;
    font-size: 1.3rem;
}

.person-msg input {
    height: 2.4rem;
    line-height: 2.4rem;
    margin-top: 1rem;
    width: 22rem;
    float: left;
    font-size: 1.3rem;
    text-indent: 1rem;
    display: block;
}

.person-button {
    width: 80%;
    margin: 0 auto;
    padding-top: 4rem;
}

.person-button button {
    margin: .5rem 0;
    border: none;
    width: 100%;
    height: 3.5rem;
    line-height: 3.5rem;
    color: #fff;
    font-size: 1.3rem;
    text-align: center;
    background: #E70C2D;
    border-radius: 0.6rem;
}

/*宝宝信息*/
.top select {
    width: 75%;
    height: 2.8rem;
    margin: 1rem 0 0.3rem 0;
    font-size: 1.4rem;
    text-indent: .5rem;
    border: .2rem solid #eee;
    border-radius: .4rem;
}

.top select option {
    width: 75%;
    border-style: none;
}

.bottom1 p {
    width: 60%;
    height: 3rem;
    font-size: 1.4rem;
    color: #fff;
    background-color: #dc264d;
    margin: 0 auto;
    padding-top: 1rem;
    text-align: center;
    line-height: 3rem;
    border-radius: .4rem;
}

.bb {
    background: url(../img/u14.png) no-repeat 2% center;
}

/*修改个人信息*/
.person-msg select {
    width: 22.2rem;
    height: 2.4rem;
    line-height: 2.4rem;
    font-size: 1.3rem;
    margin-top: 1rem;
}




