@charset "utf-8";
body{margin: 0;padding: 0;}
.message{
        margin: 0 auto;
	     max-width: 64rem;
         }
.message .line{padding: 0 1rem 1rem;
               border-bottom:.1rem solid #eee; }
.message figure{margin: 0 auto;
                padding-top: 2.5rem;
                max-width: 6.8rem;}
.message figure img{width: 6.8rem;
                    height: 6.8rem;
                    text-align: center;
                   }
.message figcaption{font-size: 1.2rem;
                    color: #999;
                    text-align: center;}
.main-i {max-width: 64rem;
        padding: 1rem;
        margin: 0 auto;
      }
.main-i .top{ font-size: 1.4rem;
	         color: #000;
	         margin: 1rem 0;
	         }        
.main-i .left{ font-size: 1.4rem;
	         color: #000;
	         float: left;
	         width: 49.4%;
	         text-align: center;
	         line-height: 2.0rem;
	         border-right: .1rem solid #eee;
	         }
.main-i .right{ font-size: 1.4rem;
	         color: #000;
	         float: right;
	         width: 50%;
	         text-align: center;
	         line-height: 2.0rem;
	         }
.main-i .a{height:2rem;
	    border-bottom: 0.1rem solid #eee;}	         
.main-i .left span{color: red;}
.main-i .right span{color: blue;}
.order ul {text-align: center;
	       padding: .5rem;
	       height: 2rem;
           border-bottom: 0.1rem solid #eee;}
.order ul li a{font-size: 1.3rem;
	          color: #666;
	          line-height: 2rem;
	          float: left;
              width: 16.3%;
              border-left: 1px solid #ccc}     
.order .link {border-right: .1rem solid #eee;}
.order-i a{border-bottom: 0.1rem solid #ccc;display: block;}
.order-i a p{font-size: 1.4rem;
	     line-height: 4.0rem;        
         color:#666 }
.bottom p{width: 80%;
          height:3rem;
          font-size: 1.4rem;
          color: #fff;
          background-color: #fc5477;
          margin: 0 auto;
          margin-top:4rem; 
          font-weight: bold
          margin-bottom: 5.0rem;
          text-align: center;
          line-height: 3rem;
        /*  border-radius:0.6rem;*/
          }
#footer{ width: 100%;
	     background-color: #E1E4E6;
	     position: fixed;
       bottom:0; }
#footer ul{text-align: center;display: block;}
#footer ul li{float: left;
              width: 20%;
              display: block;}
