@charset "utf-8";
/*页面初始化*/
/*@media screen and (min-width: 360px) {
 html{
  font-size: 12px;
}
}
@media screen and (min-width: 480px) {
 html{
  font-size: 14px;
}
}*/
@media only screen and (max-width: 320px){html{font-size: 9px;} }
@media only screen and (min-width: 320px) and (max-width: 352px){html{font-size: 10px;} }
@media only screen and (min-width: 352px) and (max-width: 384px){html{font-size: 11px;} }
@media only screen and (min-width: 384px) and (max-width: 416px){html{font-size: 12px;} }
@media only screen and (min-width: 416px) and (max-width: 448px){html{font-size: 13px;} }
@media only screen and (min-width: 448px) and (max-width: 480px){html{font-size: 14px;} }
@media only screen and (min-width: 480px) and (max-width: 512px){html{font-size: 15px;} }
@media only screen and (min-width: 512px) and (max-width: 544px){html{font-size: 16px;} }
@media only screen and (min-width: 544px) and (max-width: 576px){html{font-size: 17px;} }
@media only screen and (min-width: 576px) and (max-width: 608px){html{font-size: 18px;} }
@media only screen and (min-width: 608px) and (max-width: 640px){html{font-size: 19px;} }
@media only screen and (min-width: 640px){html{font-size: 20px;} }

*{
  padding:0;
  margin:0;
}
body {
	font-family: Microsoft Yahei, \5FAE\8F6F\96C5\9ED1, \5b8b\4f53, Arial, Lucida, Verdana, Helvetica, sans-serif;
	color:#333;
 
  

}

p, ul, ol, dl, dt, dd, form, blockquote {
	margin:0;
	padding:0;
}
ul, ol {
	list-style:none;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
em, b, i {
	font-style:normal;
	font-weight:normal;
}
img {
	border:0;
}
a {
	text-decoration:none;
	opacity:none;
  	border:0;
  	outline:none;
  	color: black
}
a:hover {
	text-decoration:none;
}
input[type="text"],input[type="phone"],input[type="password"],input[type="email"]{
	border:none;
	-webkit-appearance:none; 
	border-radius:0px;
	border:1px solid #ccc ;
}
/*select{
	-webkit-appearance:none;
}*/
figure{margin:0;}
textarea {
   -webkit-appearance:none; 
   border: 1px solid #ccc;
   border-radius: 0;
   font-size: 1.3rem;
 }

input[type=button], input[type=submit], input[type=file], button { cursor: pointer; -webkit-appearance: none;border:none;margin:0;padding: 0} 
.header-top{height:4rem;background:#4C5359;width:100%;position: relative;}
.fanhui{float:left;width:20%;z-index: 2;position: absolute;}
.fanhui img{width:2.5rem;height:2.5rem;float:left;display:block;margin:0.75rem 0;}
.fanhui .tiaozhuan{display:block;width:3rem;float:left;height:2.5rem;padding:0.75rem 0;line-height:2.5rem;color:#fff;font-size:1.3rem;}
.shouye{width:100%;padding:0.75rem 0;position: absolute;}
.shouye p{color:#fff;font-size:1.4rem;line-height:2.5rem;height:2.5rem;text-align: center}