<!--底部导航-->
<div class="menu" id="menu">
    <a href="#">
        <i class="icon-menu icon-menu1"><img src="../img/footer-c1.png" alt=""></i>
    </a>
    <a>
        <i class="icon-menu icon-menu2"><img src="../img/footer-2.png" alt=""></i>
    </a>
    <a href="#">
        <i class="icon-menu icon-menu3"><img src="../img/footer-3.png" alt=""></i>
    </a>
    <a href="" id="shopping">
        <i class="icon-menu icon-menu4"><img src="../img/footer-4.png" alt=""></i>
    </a>
    <a href="#">
        <i class="icon-menu icon-menu5"><img src="../img/footer-5.png" alt=""></i>
    </a>
</div>
<!--底部导航 END-->