<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>寄售订单</title>
	<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width,initial-scale=1.0"/>
	<!-- 禁止将数字变为电话号码 -->
	<meta name="format-detection" content="telephone=no" />
	<!-- iphone设备中的safari私有meta标签,允许全屏模式浏览，隐藏浏览器导航栏 -->
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<!-- iphone的私有标签,它指定的iphone中safari顶端的状态条的样式 -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
    <script type="text/javascript" src="js/jquery.1.10.2.js"></script>
	<link rel="stylesheet" href="css/order.css">
	<link rel="stylesheet" href="css/public.css">
	<!-- <link rel="stylesheet" href="css/scrollbar.css"> -->
</head>
<body>
	<section class="header-top" id="#header-top">
    	<div class="fanhui"><a href="index_liu.jsp" ><img src="img/back.png" alt=""></a><a href="index_liu.jsp" class="tiaozhuan">返回</a></div>
    	<div class="shouye"><p>寄售订单</p></div>
    </section>
 <div id="wrapper">
   <div id="scroller">
	<div class="main" >
	<div id="main"></div>
	 <!--  <div id="pullUp">
			<span class="pullUpIcon"></span><span class="pullUpLabel">加载更多...</span>
	</div> -->
</div>
  
    <section class="clear"></section>
    <div class="bottom"><p>共计<i></i>件商品 小计：<span>￥<b></b></span> (含运费￥10)</p></div>
    </div>
</div> 
    <script type="text/javascript" src="js/analyPara.js"></script>
    <script type="text/javascript" src="js/order2.js"></script>
    <script type="text/javascript" src="js/iscroll.js"></script>
</body>
</html>